<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="cc.tianbin.springframework.test.chapter.ch05_aop.bean.UserServiceImplAOP"/>

    <bean class="cc.tianbin.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="userServiceAdvice" class="cc.tianbin.springframework.test.interceptor.UserServiceAdvice"/>

    <bean id="methodBeforeAdviceInterceptor" class="cc.tianbin.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="userServiceAdvice"/>
    </bean>
    <bean id="beforePointcutAdvisor" class="cc.tianbin.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cc.tianbin.springframework.test.chapter.ch05_aop.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodBeforeAdviceInterceptor"/>
    </bean>

    <bean id="methodAfterAdviceInterceptor" class="cc.tianbin.springframework.aop.framework.adapter.MethodAfterAdviceInterceptor">
        <property name="advice" ref="userServiceAdvice"/>
    </bean>
    <bean id="afterPointcutAdvisor" class="cc.tianbin.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cc.tianbin.springframework.test.chapter.ch05_aop.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodAfterAdviceInterceptor"/>
    </bean>

</beans>
