<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="cc.tianbin.springframework.test.chapter.ch01_BeanFactory.bean.UserDao"/>

    <bean id="userService" class="cc.tianbin.springframework.test.chapter.ch01_BeanFactory.bean.UserService">
        <property name="userId" value="1001"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>
