<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="proxyUserDao" class="cc.tianbin.springframework.test.chapter.ch03_aware.bean.ProxyBeanFactory"/>

    <bean id="userServiceImplScope" class="cc.tianbin.springframework.test.chapter.ch03_aware.bean.UserServiceImplScope" scope="singleton">
<!--    <bean id="userServiceImplScope" class="cc.tianbin.springframework.test.chapter.ch03_aware.bean.UserServiceImplScope" scope="prototype">-->
        <property name="userId" value="1001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

</beans>
